.App{
  color: rgb(93, 27, 141);
}

@font-face {
  font-family: monkeyfont;
  src: url('/public/SeymourOne-Regular.ttf');
}

body{
  margin: 0px;
  background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url('./public/url.png');
  background-size:cover;
  background-position-y: -20em;
  font-family: 'monkeyfont';
}

.mainpage{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.text{
  text-align: center;
  max-width: 50%;
}

.large{
  font-size: 2.5em;
}

.medium{
  font-size: 1.5em;
}

.otherfont{
  font-family:serif;
}

