.bar{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    row-gap: 0px;
    background: rgba(20, 20, 20, 0.5);
}

.block{    
    height: 80px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 1.5em;
    background: transparent;
    border: none;
    color: #32c675;
    font-weight: bold;
    transition: 0.5s;
}

button:hover{
    text-decoration:underline;
}

.button2{

}

.img{
    max-width:100%;
    max-height:100%;
}